<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'h-ui/css/H-ui.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'h-ui.admin/css/H-ui.admin.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'lib/Hui-iconfont/1.0.8/iconfont.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'h-ui.admin/skin/default/skin.css' %}" id="skin" />
    <link rel="stylesheet" type="text/css" href="{% static 'h-ui.admin/css/style.css' %} "/>

    <title>goodslist</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> index <span class="c-gray en">&gt;</span> goodsmanage <span class="c-gray en">&gt;</span> goodslist <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="Refresh" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c">
        <form action="{% url 'film:goods_list' %}" method="post">
            {% csrf_token %}

            <input type="text" name="goods_name" id="" placeholder="可输入小goods name ,关键字" style="width:250px" class="input-text" value="{{ goods_name }}" required>

            <input type="hidden" name="search" value="true">

            <button class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> searchgoods</button>

            <button class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> <a href="{% url 'film:goods_list' %}" style="color: white">all goods</a></button>
        </form>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> batch  del</a>
            <a class="btn btn-primary radius" data-title="add goods" data-href="{% url 'film:goods_add' %}" onclick="Hui_admin_tab(this)" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> add goods</a>
        </span>
        <span class="r">data num：<strong>{% if goods_list.count %}
        {{ goods_list.count }}
            {% else %}
            {{ goods_list.object_list.count }}
        {% endif %}</strong> </span>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">

            <thead>

            <tr class="text-c">
                <th width="25"><input type="checkbox" name="" value=""></th>
                <th width="80">goods name </th>
                <th width="80">goods  price </th>
                <th width="80">goods num </th>
                <th width="120">goods introduction </th>
                <th width="80">goods  img </th>
                <th width="80">  operation</th>

            </tr>

            </thead>

            <tbody>
            {% if goods_list.object_list.count %}
            {% for goods in goods_list.object_list %}

                    <tr class="text-c">
                        <td><input type="checkbox" value="" name=""></td>
                        <td><a href="{% url 'film:goods_detail' %}?goods_id={{ goods.id }}">{{ goods.name }}</a></td>
                        <td>{{ goods.price }}</td>
                        <td>{% if goods.count == 0 %}
                        该goods已售罄{% else %}
                            {{ goods.count }}
                        {% endif %}</td>
                        <td>{{ goods.food_info|truncatechars:30 }}</td>
                        <th>{{ goods.image }}</th>


                        <td class="f-14 td-manage">
                            <a style="text-decoration:none" class="ml-5" href="{% url 'film:goods_change' %}?goods_id={{ goods.id }}" title='   Modifygoods'><i class="Hui-iconfont">&#xe6df;</i></a>
                            <a style="text-decoration:none" class="ml-5" onclick="goods_del(this,'{{ goods.id }}')" title="delgoods"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                    </tr>
                {% endfor %}

            {% else %}
                <tr>
                    <td colspan="11">暂时没有数据,请 administrator后台add 数据</td>
                </tr>
            {% endif %}

            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" src="{% static 'lib/jquery/1.9.1/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/layer/2.4/layer.js' %}"></script>
<script type="text/javascript" src="{% static 'h-ui/js/H-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'h-ui.admin/js/H-ui.admin.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/jquery.contextmenu/jquery.contextmenu.r2.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/My97DatePicker/4.8/WdatePicker.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/datatables/1.10.0/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/laypage/1.2/laypage.js' %}"></script>

<script type="text/javascript">
    function goods_del(obj,id){
	layer.confirm('   Confirm',function(index){
		$.ajax({
			type: 'GET',
			url: '{% url "film:goods_delete" %}?goods_id='+id,
			dataType: 'json',
			success: function(data){
			    if(data.status == 1){
			        $(obj).parents("tr").remove();
				    layer.msg(data.msg,{icon:1,time:1},function(){
				        location.reload()
                    });
                }else{
			        layer.msg(data.msg,{icon:6,time:1000});
                }

			},
			error:function(data) {
				console.log(data.msg);
			}
		});
	});
}
</script>
</body>
</html>