<!DOCTYPE HTML>
<html>
<head>

    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'h-ui/css/H-ui.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'h-ui.admin/css/H-ui.admin.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'lib/Hui-iconfont/1.0.8/iconfont.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'h-ui.admin/skin/default/skin.css' %}" id="skin" />
    <link rel="stylesheet" type="text/css" href="{% static 'h-ui.admin/css/style.css' %} "/>



    <title>User management</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> index <span class="c-gray en">&gt;</span> User center <span class="c-gray en">&gt;</span> User management <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="Refresh" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">

    <div class="text-c">
        <form action="{% url 'film:user_list' %}" method="post">
            {% csrf_token %}

            datetime：<input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin" name="start_date" value="{{ start_date }}" class="input-text Wdate" style="width:120px;" >

            <input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d'})" id="datemax" class="input-text Wdate" name="end_date" value="{{ end_date }}" style="width:120px;">

            <input type="text" class="input-text" style="width:250px" placeholder="nick,name,phone" id="" name="username" >

            <input type="hidden" name="search" value="true">

            <button type="submit" class="btn btn-success" id="" name=""><i class="icon-search"></i> search user</button>


            <button class="btn btn-success" ><a href="{% url 'film:user_list' %}" style="color:white;">all user</a></button>
        </form>



    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l" style="text-align: center">XD-movieuser</span>
        <span class="r">data num：<strong>{% if paginator.count %}{{ paginator.count }}{% else %}0{% endif %}</strong> </span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg table-sort">
        <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox" name="" value=""></th>
            <th width="80">ID</th>
            <th width="100">username</th>
            <th width="40">gender</th>
            <th width="90">phone</th>
            <th width="150">email</th>
            <th width="130">build time</th>
            <th width="70">status</th>
            <th width="100">operation</th>
        </tr>
        </thead>
        <tbody>
        {% if consumer_list.object_list.count %}
            {% for consumer in consumer_list.object_list %}
                {% if consumer.username == login_user %}

                    <tr class="text-c" style="background:lavenderblush;">
                        <td><input type="checkbox" value="1" name=""></td>
                        <td>{{ consumer.id }}</td>
                        <td>{{ consumer.first_name }}{% if consumer.is_superuser %}( administrator){% endif %}</td>
                        <td>{{ consumer.gender }}</td>
                        <td>{{ consumer.phone_num }}</td>
                        <td>{{ consumer.email }}</td>
                        <td>{{ consumer.date_joined|date:'Y-m-d H:i:d' }}</td>
                        <td class="user-status">{% if consumer.is_active %}<span class="label label-success">Is enabled</span>{% else %}<span class="label label-warning">Is enabled</span>{% endif %}</td>
                        <td class="f-14 user-manage">{% if consumer.is_active %}
                            <a href="{% url 'film:user_detail' %}?user_id={{ consumer.id }}">check the details</a>
                        {% else %}
                            <a  onclick="user_deblocking(this,'{{ consumer.id }}')">Unlock your account</a>

                        {% endif %}</td>
                    </tr>

                {% else %}

                    <tr class="text-c">
                        <td><input type="checkbox" value="1" name=""></td>
                        <td>{{ consumer.id }}</td>
                        <td>{{ consumer.first_name }}{% if consumer.is_superuser %}( administrator){% endif %}</td>
                        <td>{{ consumer.gender }}</td>
                        <td>{{ consumer.phone_num }}</td>
                        <td>{{ consumer.email }}</td>
                        <td>{{ consumer.date_joined|date:'Y-m-d H:i:d' }}</td>
                        <td class="user-status">{% if consumer.is_active %}<span class="label label-success">Is enabled</span>{% else %}<span class="label label-warning">Is enabled</span>{% endif %}</td>
                        <td class="f-14 user-manage">{% if consumer.is_active %}
                            <a href="{% url 'film:user_detail' %}?user_id={{ consumer.id }}">check the details</a>
                        {% else %}
                            <a  onclick="user_deblocking(this,'{{ consumer.id }}')">Unlock your account</a>
                        {% endif %}</td>
                    </tr>

                {% endif %}

            {% endfor %}
        {% else %}
            <tr class="text-c">
                <td colspan="9">no data</td>
            </tr>

        {% endif %}

        <div class = 'page_count' style="text-align: center;color: lightgreen;top:800px;left: 850px;position: absolute">
            {% for page in page_num %}
                <a href="{% url 'film:user_list' %}?page={{ page }}" style="font-size: 18px">{{ page }}</a>
            {% endfor %}
        </div>


        </tbody>
    </table>
    <div id="pageNav" class="pageNav"></div>
</div>
</body>
</html>

<script type="text/javascript" src="{% static 'lib/jquery/1.9.1/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/layer/2.4/layer.js' %}"></script>
<script type="text/javascript" src="{% static 'h-ui/js/H-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'h-ui.admin/js/H-ui.admin.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/jquery.contextmenu/jquery.contextmenu.r2.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/My97DatePicker/4.8/WdatePicker.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/datatables/1.10.0/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/laypage/1.2/laypage.js' %}"></script>

<script>

    function user_deblocking(obj,id){
        layer.confirm('确认？',function(index){
            $.ajax({

                url: '{% url 'film:user_deblocking' %}?user_id='+id,
                dataType: 'json',
                success: function(data){
                    if(data.status == 1){
                        alert(data.msg);
                        layer.msg(data.msg,{icon:1,time:1},function(){
                            location.reload()
                        });

                    }else{
                        alert(data.msg);
                        layer.msg(data.msg,{icon:6,time:1000});
                    }
                },
                error:function(data) {
                    console.log('a');
                }
            });
        });
    }


</script>
